body {
	font-size: 2.5vh;
	text-align: center;
}

h5{
	font-size: 1.6vh;

	
}

	
	
h6{
	display: block;
    font-size: .60em;
    margin-top: 0.33em;
    margin-bottom: 0.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

input {
	width: 16.67vmin;
	height: 5vmin;
	font-size: 12px;
	font-weight: bold;
	background-color: lightblue;
	border-radius: 1.67vmin;
}

input.text {
	width: 10vmin;
	text-align: center;
	background-color: white;
	font-size: 2.5vh;
}

